{{- $id := .Get 0 -}}
{{- $title := .Get "title" | default "YouTube video" -}}
{{- $autoplay := .Get "autoplay" | default 0 -}}
{{- $start := .Get "start" | default 0 -}}

{{- if $id -}}
<div class="aspect-w-16 aspect-h-9 my-8">
  <iframe 
    src="https://www.youtube-nocookie.com/embed/{{ $id }}?autoplay={{ $autoplay }}&start={{ $start }}&rel=0&modestbranding=1"
    title="{{ $title }}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    loading="lazy"
    class="w-full h-full rounded-lg"
  ></iframe>
</div>
{{- end -}}